body {
  color: #4e4e4e;
  background-color: #f5f5f5;
}

main {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: white;
}

a, a:link, a:active, a:hover, a:visited {
  text-decoration: none !important;
}

nav * {
  text-transform: lowercase;
}

.bg-light, .navbar-light {
  background-color: #f2fef8 !important;
}

.page-header {
  padding-bottom: 32px;
  padding-top: 32px;
}

.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}

.jumbotron-welcome {
  color: #3a3a3a;
  background-image: url('/static/images/heather-ford-FbrDS0jY_Hw-unsplash.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 96px;
  padding-top: 96px;
}

.navbar-brand, .brand {
  font-weight: 500;
  text-transform: lowercase;
}

.navbar a, .navbar a:active, .navbar a:hover, .navbar a:visited {
  color: #4e4e4e !important;
}

.font-weight-500, label {
  font-weight: 500;
}

.font-weight-400, p.lead {
  font-weight: 400;
}

p.lead {
  color: #a68325;
}

.text-overflow, .product-title {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

a.product-link, .product-link a.product-link:active, a.product-link:hover, a.product-link:visited {
  color: black !important;
}