{% extends 'layout.html' %}
{% block title %}{{ product.title }}{% endblock title %}

{% block content %}
  <main>
    <div class="container-fluid">
      <div class="page-header">
        <h1>{{ product.title }}</h1>
        <p class="lead">from <em>{{ vendor_names }}</em></p>
      </div>
      {% if vendor %}
        <div class="btn-toolbar mb-4">
          <div class="btn-group mr-2">
            <a href="/products/{{ product.id }}/edit" class="btn btn-sm btn-light"><i class="fas fa-pencil-alt"></i> Edit</a>
            <form action="/products/{{ product.id }}/delete" method="post">
              {% csrf_token %}
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete" class="btn btn-sm btn-danger">
            </form>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <img src="{{ product.primary_image.url }}" class="img rounded w-100">
        </div>
        <div class="col-sm-6 col-lg-8">
          {{ product.desc }}
        </div>
      </div>
    </div>
  </main>
{% endblock content %}