{% extends 'layout.html' %}
{% block title %}Error{% endblock title %}

{% block content %}
  <main class="text-center">
    <div class="container-fluid">
      <div class="page-header">
        <h1>。・°°・(＞_＜)・°°・。</h1>
      </div>
      <div class="alert alert-danger p-4">
        <h1>401 Unauthorized</h1>
        <p>Hey now, you’re not supposed to be here</p>
        <p><a href="/" class="btn btn-sm btn-dark text-uppercase">Sorry, gotta go! <i class="fas fa-rocket"></i></a></p>
      </div>
    </div>
  </main>
{% endblock content %}