{% extends 'layout.html' %}
{% block title %}Error{% endblock title %}

{% block content %}
  <main class="text-center">
    <div class="container-fluid">
      <div class="page-header">
        <h1>。・°°・(＞_＜)・°°・。</h1>
      </div>
      <div class="alert alert-danger p-4">
        <h1>405 Method Not Allowed</h1>
        <p>This resource was called with the wrong method</p>
        <p><a href="/" class="btn btn-sm btn-dark text-uppercase">Get me out of here <i class="fas fa-rocket"></i></a></p>
      </div>
    </div>
  </main>
{% endblock content %}