{% extends 'layout.html' %}
{% block title %}Sign up{% endblock title %}

{% load bootstrap4 %}

{% block content %}
  <main>
    <div class="container-fluid">
      <div class="page-header">
        <h1>Sign up</h1>
        <p class="lead">Welcome to our store!</p>
      </div>
      <form method="post" class="form-horizontal col-md-6">
        {% csrf_token %}
        {% bootstrap_form_errors form type='non_fields' %}
        {% bootstrap_form form layout='horizontal' %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Sign up</button>
        {% endbuttons %}
      </form>
    </div>
  </main>
{% endblock content %}